#include "base.keymap"

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

/ {
  keymap {
    compatible = "zmk,keymap";

    colemak {
      bindings = <

/*  ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐                     ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐  */
     &kp TAB    &kp Q     &kp W     &kp F     &kp P     &kp B                           &kp J     &kp L     &kp U     &kp Y    &kp SEMI   &kp SQT
/*  ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                     ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤  */
     &kp BSPC    MT_A     &kp R     &kp S     &kp T     &kp G                           &kp M     &kp N     &kp E     &kp I     MT_O     &kp ENTER
/*  ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┐ ┌─────────┼─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤  */
     XXXXXXXXX  &kp Z     &kp X     &kp C     &kp D     &kp V    XXXXXXXXX   XXXXXXXXX  &kp K     &kp H    &kp COMMA  &kp DOT  &kp SLASH XXXXXXXXX
/*  └─────────┴─────────┴─────────┼─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┼─────────┴─────────┴─────────┘  */
                                   XXXXXXXXX XXXXXXXXX &bt BT_PRV XXXXXXXXX  XXXXXXXXX &bt BT_NXT MT_ESC   XXXXXXXXX
/*                                └─────────┴─────────┴─────────┴─────────┘ └─────────┴─────────┴─────────┴─────────┘                                */
      >;
    };

    colemak_meh {
      bindings = <

/*    ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐                          ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐  */
        XXXXXXXX    LM_Q        LM_W        LM_F        LM_P        LM_B                                   LM_J        LM_L        LM_U        LM_Y        LM_BSPC     XXXXXXXXX
/*    ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                          ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤  */
        LM_TAB      LM_A        LM_R        LM_S        LM_T        LM_G                                   LM_M        LM_N        LM_E        LM_I        LM_O        LM_ENTER
/*    ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼──────────┐   ┌───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤  */
        XXXXXXXX    LM_Z        LM_X        LM_C        LM_D        LM_V        XXXXXXXX       XXXXXXXX    LM_K        LM_H        LM_LBKT     LM_RBKT     LM_SQT      XXXXXXXXX
/*    └───────────┴───────────┴───────────┼───────────┼───────────┼───────────┼──────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┴───────────┴───────────┘  */
                                            XXXXXXXX    LHYPER      XXXXXXXX    XXXXXXXX       XXXXXXXX    XXXXXXXX    RHYPER      XXXXXXXXX
/*                                        └───────────┴───────────┴───────────┴──────────┘   └───────────┴───────────┴───────────┴───────────┘                                      */
      >;
    };

    symbol {
      bindings = <

/*    ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐                          ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐  */
        XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX                              XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*    ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                          ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤  */
        XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX                              XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*    ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼──────────┐   ┌───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤  */
        XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX      XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*    └───────────┴───────────┴───────────┼───────────┼───────────┼───────────┼──────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┴───────────┴───────────┘  */
                                            XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXX       XXXXXXXX    XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*                                        └───────────┴───────────┴───────────┴──────────┘   └───────────┴───────────┴───────────┴───────────┘                                      */
      >;
    };

    numpad {
      bindings = <

/*    ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐                          ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐  */
        XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX                              XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*    ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                          ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤  */
        XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX                              XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*    ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼──────────┐   ┌───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤  */
        XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX      XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*    └───────────┴───────────┴───────────┼───────────┼───────────┼───────────┼──────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┴───────────┴───────────┘  */
                                            XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXX       XXXXXXXX    XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*                                        └───────────┴───────────┴───────────┴──────────┘   └───────────┴───────────┴───────────┴───────────┘                                      */
      >;
    };

    navigation {
      bindings = <

/*    ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐                          ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐  */
        XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX                              XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*    ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                          ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤  */
        XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX                              XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*    ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼──────────┐   ┌───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤  */
        XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX      XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*    └───────────┴───────────┴───────────┼───────────┼───────────┼───────────┼──────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┴───────────┴───────────┘  */
                                            XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXX       XXXXXXXX    XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*                                        └───────────┴───────────┴───────────┴──────────┘   └───────────┴───────────┴───────────┴───────────┘                                      */
      >;
    };

    function {
      bindings = <

/*    ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐                          ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐  */
        XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX                              XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*    ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                          ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤  */
        XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX                              XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*    ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼──────────┐   ┌───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤  */
        XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX      XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*    └───────────┴───────────┴───────────┼───────────┼───────────┼───────────┼──────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┴───────────┴───────────┘  */
                                            XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXX       XXXXXXXX    XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*                                        └───────────┴───────────┴───────────┴──────────┘   └───────────┴───────────┴───────────┴───────────┘                                      */
      >;
    };

    adjust {
      bindings = <

/*    ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐                          ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐  */
        XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX                              XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*    ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                          ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤  */
        XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX                              XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*    ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼──────────┐   ┌───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤  */
        XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX      XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*    └───────────┴───────────┴───────────┼───────────┼───────────┼───────────┼──────────┤   ├───────────┼───────────┼───────────┼───────────┼───────────┴───────────┴───────────┘  */
                                            XXXXXXXXX   XXXXXXXXX   XXXXXXXXX   XXXXXXXX       XXXXXXXX    XXXXXXXXX   XXXXXXXXX   XXXXXXXXX
/*                                        └───────────┴───────────┴───────────┴──────────┘   └───────────┴───────────┴───────────┴───────────┘                                      */
      >;
    };
  };
};
